body {
    padding: 25px;
    background-color:  #000020;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
  }
  .title {
  color:  #e6ffff;
  }
  
  .currentTime {
    color: #ffffff;
  }
  